charset utf-8 /* CSS Document */
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 50px auto; /* Sets the space between the top and bottom of the body */
  background: rgb(245, 245, 245); /* Specifies Background color */
  color: #000; /* Specifies Text Color */
  line-height: 1.5; /* Distance between each line of text */
}
/*NavBar Styles*/
nav.navbar {
  padding: 20px; /*Creates space inside the navbar*/
  background-color: #82343d !important; /* Sets the color for the navbar */
}
nav.navbar.navbar-nav { /* Sets a box around the links */
  padding-top: 5px;
  padding-left: 20px;
}
nav.navbar .navbar-nav a.nav-link { /* Targets the links in the box */
  padding: 8px 20px; /* Sets space around the link */
  color: #FFF; /* Changes Color */
  text-align: left;
  font-size: 1rem; /* Changes Font Size */
}
nav.navbar.navbar-nav a.nav-link:hover { /* Hovering over link changes color */
  color: #e9bd43;
}
nav.navbar .navbar-nav.active a.nav-link { /* Color for the active page link */
  font-weight: bold;
  color: #e9bd43;
  background: transparent;
  border-bottom: 4px solid #FFB800;
}
nav.navbar a.navbar-brand {
  color: white;
}
/* Baseline Text Styles */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
	font-variant: normal;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
/*ul li{
	font-size: 0.95rem;
	margin: 0 0 0 0.95rem;
	list-style-type: lower-roman;
}*/
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.color {
  color: #f35500;
}


#carouselExampleIndicators1 {
	margin-top: -40px;
	
}

#carouselExampleIndicators1 img, section img, video{
	width: 100%;
	height: auto;
}

/*Link Styles*/
a:link, a:active, a:visited{
	color: #0088cc;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
footer {
  width: 100%
}
footer h2 {}
.footerL {
  float: left;
  padding: 0;
  border-right: 1px solid #999;
}
.footerR {
  float: right;
  padding: 0;
  text-align: right;
}
.footerR p.linked {
  background: url("../images/linkedin.png") no-repeat right;
  padding-right: 30px;
}
/* Post Comment Form Styles */
#frmComment {
  width: 90%;
  margin: 30px auto;
  font-size: 0.9rem;
}
#frmComment label {
  float: left;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#frmComment label span {
  float: left;
  width: 30%;
  text-align: right;
  padding-top: 20px;
  margin-top: 10px;
}
#frmComment input {
  float: left;
  width: 50%;
  border: 1px solid #999;
  box-shadow: 0px 5px 5px #e3e3e3;
  padding: 20px 10px;
  margin: 10px 0 0 20px;
  height: 18px;
}
#frmComment input:hover, #frmComment textarea:hover {
  box-shadow: 5px 5px 8px #c1c1c1;
}
#frmComment textarea {
  float: left;
  width: 51%;
  margin: 8px 0 0 20px;
  border: solid 1px #999;
  box-shadow: 2px 8px 8px #e3e3e3;
  padding: 10px 0 0 5px;
}
select {
  width: 52%;
  padding: 12px 10px 10px 10px;
  margin: 18px 0 0 20px;
  border: 1px solid #999;
  color: #999;
  font-size: 16px;
}
#frmComment input[type=submit] {
  padding: 12px 2px;
  text-align: center;
  width: 140px;
  float: left;
  color: #999;
  background: #0088CC;
  border: 1px solid #0099CC;
  margin: 0px 0 0 32%;
  border-radius: 7px;
  cursor: pointer;
  height: 45px;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-weight: 300;
  font-style: normal;
}
/* Table Styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 10px auto;
}
th {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 8px;
  border-bottom: 2px solid #000;
  text-align: center;
}
td {
  font-size: 0.9rem;
  border-bottom: 1px solid #CCC;
  padding: 12px 6px;
  text-align: center;
}
table tr:nth-of-type(even) {
  background-color: rgb(20, 225, 225)
}
table tr:nth-of-type(even):hover {
  background-color: rgb(20, 215, 195);
  cursor: pointer;
}
table tr:nth-of-type(odd) {
  background-color: rgb(235, 125, 110);
}
table tr:nth-of-type(odd):hover {
  background-color: rgb(235, 125, 90);
  cursor: pointer;
}
@media screen and (max-width:992px) {
  .footerL {
    border-right: none;
    border-bottom: 1px solid #999;
    padding-left: 1rem;
  }
  .footerR {
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footerR p.linked {
    background: url("../images/linkedin.png") no-repeat 55px 0;
    padding-right: 30px;
  }
  form.form-inline {
    width: 100%;
  }
  form.form-inline input[type=search] {
    width: 90%;
  }
  form.form-inline button[type=submit] {
    display: none;
    width: 0;
  }
  nav.navbar .navbar-nav {
    padding-left: 0;
  }
  nav.navbar .navbar-nav a.nav-link {
    padding: 8px 20px 8px 0;
    width: 50%;
  }
  p {
    font-size: 0.85rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  table, thread, tbody, th, td, tr, caption {
    display: block;
  }
  thead tr {
    display: none;
  }
  table tr:nth-of-type(even) {
    background-color: rgb(20, 225, 225, .25)
  }
  table td {
    border: none;
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 2px solid white;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 25%;
    font-weight: bold;
    white-space: nowrap;
    text-align: left;
    font-size: 0.9rem;
  }
  td:nth-of-type(4) {
    border-bottom: 4px solid white;
  }
  /* Label the data */
  td:nth-of-type(1):before {
    content: "Attractions";
  }
  td:nth-of-type(2):before {
    content: "Locations";
  }
  td:nth-of-type(3):before {
    content: "Opening Times";
  }
  td:nth-of-type(4):before {
    content: "Rating";
  }
}